#welcome-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 120px;
  text-align: center;
  font-size: 25px;
}

button {
  background-color: rgb(41, 5, 75);
  color: azure;
  padding: 15px;
  border-radius: 5px;
  width: 20%;
  margin: 5px;
}

#question-screen {
  display: none;
  justify-content: center;
  text-align: justify;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 200px;
}

#highscore-screen {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 200px;
}

#final-screen {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 200px;
}

.header #timer {
  float: right;
}

#high-score {
  text-align: left;
  color: blueviolet;
}

#timer {
  text-align: right;
}

#rightorwrong {
  display: none;
}
