#welcome-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 120px;
  text-align: center;
  font-size: 25px;
}

button {
  background-color: rgb(41, 5, 75);
  color: azure;
  padding: 15px;
  border-radius: 5px;
  width: 20%;
  margin: 5px;
}

button:hover {
  background-color: blueviolet;
}

#question-screen {
  display: none;

  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 200px;
}

#question-screen div {
  display: flex;
  flex-direction: column;
}

#highscore-screen {
  display: none;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 200px;
}

#names-score {
  background-color: rgb(240, 231, 231);
  width: 75%;
}

#highscore-screen div {
  flex-direction: row;
}

#final-screen {
  display: none;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 200px;
}

#final-screen div {
  flex-direction: row;
  font-size: 30px;
}

#high-score {
  text-align: left;
  color: blueviolet;
}

#timer {
  text-align: right;
}

#rightorwrong {
  font-size: 30px;
  color: grey;
}

#line {
  width: 900px;
  background-color: grey;
  display: none;
  padding: 2px;
  margin: 25px;
}
